<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= nav_bar brand: "BigCo, Inc." do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "About Us", '#about_us', data: {toggle: 'modal' } %>
        <%= menu_item "News", news_releases_path %>
        <%= menu_item "Contact", '#' %>
    <% end %>
    <%= menu_group :pull => :right do %>
      <% if current_user %>
        <% if administrator? %>
          <%= menu_item 'Users', users_path %>
        <% end %>
        <%= menu_item 'Log Out', logout_path %>
      <% else %>
        <%= menu_item 'Log In', new_session_path %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container">
    <%= bootstrap_flash %>
  </div>

  <div class="container">

    <div class="btn-group">
      <% ('A'..'Z').each do |letter| %>
        <%= link_to_unless_current letter, contacts_path(letter: letter), class: 'btn' %>
      <% end %>
      <%= link_to 'All', contacts_path, class: 'btn' %>
    </div>

    <%= yield %>
  </div>

  <%= modal_dialog :id => "about_us",
    :header => { show_close: true, dismiss: 'modal', title: 'About BigCo' },
    :body   => 'BigCo produces the finest widgets in all the land.',
    :footer => content_tag(:button, 'Close', class: 'btn btn-primary', data: { dismiss: 'modal'}, aria: { hidden: true }) %>

</body>
</html>
